{% extends "base.html" %}
{% block title %}
Signup
{% endblock %}


{% block content %}
<form method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Enter Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Enter Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Enter Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password2">
      </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" value="admin" name="role">
      <label class="form-check-label" for="exampleCheck1">Tick if admin</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}